body {
				background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-YYBTQXdYN02ibxyGvAu7JVTArAUuRGN_3A&usqp=CAU'); background-size: 100%;
}
h1 {text-align: center; color: yellow;}
.marquee {font-size: 170%;}
h3 {text-align: center; color: yellow;}
.marquee {font-size: 170%;}
