body { background-color: black; }

.judul {font-size: 30px;color: gold;}

button {position: relative;bottom: 20px;border: 3px transparent solid;border-radius: 13px ;color: red;background-color: transparent;font-size: 25px;}

.kl1 {color: white; font-size: 30px;}

.kl2 {width: 80%;height: auto;font-size: 20px;color: yellow;}

#marquee1 {width: 95%;position: relative;bottom: 544px;left: 45px;color: red; font-size: 19px; }

video {width: 100%; height: auto;}

.gambar {border: 3px solid yellow;border-radius: 13px ; width: 17%;}

.gambar1 {position: relative;top: 37px;right: 430px; border-radius: 8px ;width: 100px; height: 35px;}
