body {
				background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDecn07q48zq8HFW81S639dY0VfyB8NHFSXg&usqp=CAU'); background-size: 100%;
}
h1 {text-align: center; color: yellow;}
.marquee {font-size: 170%;}
h3 {text-align: center; color: yellow;}
.marquee {font-size: 170%;}
